.imgbody{background-image:linear-gradient(#f9c7f4,#f989ee,#cc8bc6,#8b5786,#694365,#492f47,#382036);}
#top
{
  font-family:Georgia,serif;
  background-color:#1e90ff;
  color:#ffffff;
  text-align:center;
  box-shadow:10px 10px 50px;
  margin:-20px;
  margin-left: 30px;
  margin-right:30px;
}  

body

 
 .logo
 {
 color:#fff5fe;  margin-left:30px;
   }
 
#nav 
{
  background-color:#e7e6dd;
 width:100%;
  height:30px;
  margin-top:50px;
  margin-left:600px;
  border-bottom:30px;
 
}

#nav ul
{list-style-type:none;
}
#nav ul li 
{
   background-color:#1e90ff;
  float:left;
  width: 170px;
  text-align:center;
  height: 30px;
  
}  

#nav ul li:hover
{
  background-color:#1e90ff;
}

#footer
{
  background-color:#e7e6dd;
  border-bottom:0px;
  
}  

#title
{
  color:#ffffff;
  }
  

.img
{
  box-shadow:10px 10px 50px;
  color:#ffffff;
  margin-right:9px;
 
}  


.box
{
  box-shadow:10px 10px 15px;
  background-color:#fff3fe;
  color:#5c5b5b;
  margin-right:9px;
}  
  
 .button_fixed{
	 
 }
  